:root {
    --Iwidth: 650px;
}

body {
    background-color: lightblue;
    display: grid;
    place-items: center;
}


h1 {
    background-color: lightcyan;
    width: 650px;
    text-align: center;
}

div {
    width: var(--Iwidth);
    height: 1000px;
}

#Nova {
    width: inherit;
    height: inherit;
}

p {
    background-color: aquamarine;
    display: block;
    width: var(--Iwidth);
    font-size: x-large;
    border-radius: 10px;
    text-align: center;
}